body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.large-dropdown-menu {
  width: 300px;
}

/*Toggle Sign-In/Sign-Up*/
.register-bg {
  margin-top: 5px;
  text-align: center;
}

.margin-right-btn {
  margin-right: 3px;
}

/* Post Login Nav */

.small-dropdown-menu {
  width: 200px;
}

.hide-bullets {
    list-style-type: none;
    padding: 0px 0px 0px 15px;
    font-size: 15px;
}
